pre, code {
    position: relative;
    font-family: "Inconsolata", monospace;
    background: $gallery;
    @include border-radius(2px);
}

pre {
    display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	
    padding: 20px 10px 10px;
    white-space: pre-wrap;
    border: solid 1px; 
	font-size: 80%;
	line-height: 1.2;

	> code {
		display: block;
		width: 100%;
		background: none;
	}
	
	&.double {
		.three-eighths {
			width: 37.5%
		}
		 
		.five-eighths {
			width: 62.5%
		}
		
		> code:first-child {
			order: 1;
		}
		> .divider {
			display: block;
			position: relative;
			order: 2;
			
			border-left: solid 1px $grey;
			margin: 0px 15px;
			
			&:after {
				content: attr(data-label);
				position: absolute;
				top: 50%;
				left: 50%;
				
				background: $grey;
				height: 22px;
				width: 22px;
				color: $alabaster;
				border-radius: 50%;
				text-align: center;
				line-height: 22px;
				
				transform: translate(-50%, -50%);
			}
		}
		
		&.dark > .divider {
			border-left: solid 1px $white;
			
			&:after {
				background: $white;
				color: $dark;
			}
		}
		
		> code:last-child {
			order: 3;
		}
	}
	
	& + p {
		margin-top: 15px;
	}
	
	&[data-caption] {
		padding-top: 25px;
		
		&:before {
			box-sizing: border-box;
			content: attr(data-caption);
			display: block;
			@include position(absolute 0px 0 0 0px);

			color: $grey;
			border-bottom: solid 1px $alto;

			width: 100%;
			height: 22px;
			padding: 4px 10px;

			font-style: italic;
		}
	}

    &:after {
		display: block;
		@include position(absolute 2px 2px 0 0);
		
		width: auto;
		padding: 1px 4px;
		
		background: $alto;
		color: $grey;
        border: solid 1px $grey; 
		@include border-radius(2px);
		
        font-family: $font;
		font-size: 85%;
            
    }
    
    &.language-html {		
		&:after {
			content: "HTML5";
			font-family: Arial, sans-serif;
			text-transform: uppercase;
		}
		.comment {
			color: $grey;
		}
		
        .tag {
            color: $indigo;
        }
		
		.attr-name {
			color: $green;
		}
        
        .attr-value {
            color: $carrot;
			
			& > .punctuation:first-child {
				color: $black;
			}
        }
    }
}



.code-block.dark pre, pre.dark {
	background: $shark;
	border: solid 1px $dark;

	.header {
		background: $dark;
	}

	.language-html {	
		.comment {
			color: $grey;
		}

		.tag {
			color: $indigo;
		}

		.attr-name {
			color: $blue;
		}

		.attr-value {
			color: $lavender;

			& > .punctuation:first-child {
				color: $grey;
			}
		}
	}
}

.code-block {
	.header {
		color: $grey;
		padding: 0px 15px;
		font-size: 100 * 0.8%;
		line-height: 2;
		font-weight: normal;
		font-style: italic;
	}
	pre {
		padding-top: 10px;
	}
	pre:after {
		line-height: 2;
		background: transparent;
		border: none;
		top: 0;
		right: 15px;

		font-size: 100%;
		@include transform(translateY(-100%));
	}
}

p code {
    display: inline-block;
    padding: 1px 4px 2px;
    
    &.wrap:before {
        content: "<";
    }
    
    &.wrap:after {
        content: ">";
    }
}