/* ##############################
	Accordian
############################## */

// ##############################
//	.accordian(.open)
//		.accordian-link
//			a
//				i
//		.accordian-content
//			div
// ############################## 

.accordian {
	border: solid 1px $black;
	
	*[data-accordian] {
		cursor: pointer;
	}

	.accordian-link {
		background: $black;
		padding: 5px 10px;
		cursor: pointer;
		
		i:before {
			content: "\f078";
			margin-left: 5px;
		}
		
		a {
			color: white;
			font-size: 80%;
		}
	}
	
	.accordian-content {	
		display: none;
		
		background: white;
		padding: 5px 10px;
	}
	
	&.open {
		.accordian-link {
			border-bottom: solid 1px  rgba(0, 0, 0, 0.25);
			
			i:before {
				content: "\f00d";
				margin-left: 5px;
			}
		}
		.accordian-content {
			display: block;
		}
	}
}