// #############################
//   Scaffolding | Styles
// #############################

section, .section {
	padding: $section-padding 0;
	
	&.half {
		padding: ($section-padding / 2) 0;
	}
	
	&.qtr {
		padding: ($section-padding / 4) 0;
	}
}

.container {
	@include make-container;
}



.row {
	@include make-row;
	
	&.seamless {
		@extend %seamless;
	}
}

.group {
	@include make-group;
	
	&.seamless {
		@extend %seamless;
	}
}

%seamless {
	margin-left: 0;
	margin-right: 0;
	.col,
	.box {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}

.box {
	@include make-box;
}

.col {
	@include make-column;
}

@include make-columns($breakpoints);

@include make-box-sizes($breakpoints);

@include make-columns($breakpoints, $max-boxes, group, false){
	flex-grow: 0;
}